<%= if assigns[:block] do %>
  <title>
    Dedoco Blockchain Explorer
  </title>
  <meta name="keywords" content="<%= "#{@block.number}, #{BlockScoutWeb.LayoutView.subnetwork_title()} #{@block.number}" %>">
  <meta name="description" content="<%= gettext "View the transactions, token transfers, and uncles for block number %{block_number}", block_number: @block.number %>">
<% else %>
  <title>
    Dedoco Blockchain Explorer
  </title>
<% end %>
